<div class="author">
  <h1 class="author__heading">Hi, I am Sammy</h1>
  <p class="author__body">Web developer.</p>
</div>

<div id="picture-container">
  <img
    src="/img/blog-2.jpg"
    alt="A laptop"
    class="hero-image"
    width="600"
    height="528"
    id="image-1"
  />
  <img
    src="/img/blog-3.jpg"
    alt="A laptop"
    class="hero-image"
    width="600"
    height="528"
    id="image-2"
  />
  <img
    src="/img/blog-4.jpg"
    alt="A laptop"
    class="hero-image"
    width="600"
    height="528"
    id="image-3"
  />

  <img
    src="/img/blog-5.jpg"
    alt="A laptop"
    class="hero-image"
    width="600"
    height="528"
    id="image-4"
  />
</div>

<section class="article">
  <h1 class="article__heading" style="font-size: x-large">Latest Posts</h1>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span style="font-size: medium"><%= post.title %></span>
        <span style="font-size: medium" class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
      <div
        class="like-btn <%= post.like_count > 0 ? 'red' : '' %>"
        style="font-size: 15px"
        data-post-id="<%= post._id %>"
      >
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span><%= post.like_count %></span>
      </div>
    </li>

    <% }) %>
  </ul>
  <% if (nextPage !== null) { %>
  <a style="font-size: medium" href="/?page=<%= nextPage %>" class="pagination"
    >&lt; View Older Posts</a
  >
  <% } %>
</section>
